body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-container {
  width: 50%;
  height: auto;
  background-color: rgb(236, 230, 230);
  padding: 10px;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 1px 6px 2px;
}

#numField1,
#numField2 {
  max-width: 80px;
  padding: 5px;
}

[type="submit"] {
  padding: 10px 25px;
  background-color: rgb(0, 134, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

[type="submit"]:hover {
  background-color: rgb(11, 82, 11);
}

@media screen and (max-width: 650px) {
  .body-container {
    width: 90%;
  }
}
